@model Rectotarat.Models.University

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактировать</h2>
<form asp-action="Edit" method="post" enctype="multipart/form-data">
     @Html.HiddenFor(model => model.Logo)
 
    <div class="form-horizontal">
        <h4>Университет</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UniversityId" />
        <div class="form-group">
            <label asp-for="Logo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <img src="@Model.Logo" alt="Логотип отсутствует" class="col-md-2">
                <input type="file" name="upload" />
             </div>
        </div>
        <div class="form-group">
            <label asp-for="UniversityName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UniversityName" class="form-control" />
                <span asp-validation-for="UniversityName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Website" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-warning" />
            </div>
        </div>
    </div>

</form>

<div>
    <a asp-action="Index" class="btn btn-sm btn-primary">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
