@model String


<h2>Запрет доступа</h2>
<br>
<h3>Извините, у Вас нет прав для доступа к (удалению,изменению,добавлению) записи в данный промежуток времени</h3>
<h3>@Model.ToString()</h3>
<br>
<a asp-action="../Indicators/Index" class="btn btn-sm btn-primary">Вернуться к показателям</a>
