@{
    ViewData["Title"] = "Подтверждение для восстановления забытого пароля";
}

<h2>@ViewData["Title"].</h2>
<p>
    Проверьте свою электронную почту - на него отправлено сообщение для установки нового пароля.
</p>
