@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"].</h1>
<p>
    Ваш пароль был переустановлен. Пожалуйста <a asp-controller="Account" asp-action="Login">нажмите для входа</a>.
</p>
